:root {
  --gap-spacer: 1rem;
}

.page-title-wrapper {
  rotate: 20deg;
  top: 10%;
}

.picture-frames-wrapper {
  position: absolute;
  display: flex;
  bottom: 17rem;
  gap: 1rem;
  left: 27rem;
}

.picture-frames-wrapper > * {
  width: 10rem;
}

.info-wrapper {
  position: absolute;
  text-align: center;
  text-wrap: nowrap;
  left: 50%;
  top: 15rem;
  transform: translateX(-50%);
}

.desc-title {
  font-size: clamp(1.25rem, 2vw, 2.5em);
  font-variation-settings: "SHDW" 80, "BVEL" 70;
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
}
.desc {
  font-size: clamp(1rem, 1.25vw, 1.5em);
  font-variation-settings: "SHDW" 100, "BVEL" 15;
  letter-spacing: 2px;
  line-height: 1.4;
  top: 8.5em;
}

.card-wrapper {
  position: absolute;
  left: 50vw;
  bottom: 15rem;
  width: calc(50vw + (125px + var(--gap-spacer)));
  transform: translateX(calc(-125px + (var(--gap-spacer) * -1)));
}
.cards-inner-wrapper {
  display: flex;
  gap: var(--gap-spacer);
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  scroll-padding: 1rem;
  scroll-behavior: smooth;
  padding-block: 1rem;
  padding-left: var(--gap-spacer);
  padding-right: auto;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 2%,
    black 30%,
    transparent 90%
  );
}
.card-wrapper::before {
  content: "";
  position: absolute;
  outline: 3px solid rgb(221, 76, 225);
  outline-offset: 0.5rem;
  width: 250px;
  height: 187px;
  left: 1rem;
  top: 1rem;
  border-radius: 15px;
  z-index: 99;
  pointer-events: none;
}

.card {
  border-radius: 15px;
  cursor: pointer;
  min-width: 250px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 187px;
  /* z-index: 999; */
  /* outline: 2px solid lime; */
}

.card:not(.card-spacer) {
  background: rgba(124, 20, 153, 0.4);
}

.scroll-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 9rem;
  /* outline: 2px solid lime; */
  display: flex;
  gap: 2.5rem;
  font-size: 2.5rem;
}

.scroll-controls button:first-child {
  transform: translateX(10px);
}

.scroll-controls button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
  letter-spacing: 10px;
}

.inactive-control {
  filter: saturate(0.5) brightness(0.5);
  pointer-events: none;
}

.card-snap {
  scroll-snap-align: start;
}

.proj-card-img-wrapper img {
  border-radius: 15px 15px 0 0;
}

.card-icons-wrapper {
  /* outline: 2px solid lime; */
  align-items: center;
  display: flex;
  justify-content: center;
  width: fit-content;
  padding-bottom: 1rem;
  margin: auto;
  gap: 1rem;
}
.icon {
  width: 40px;
}
.link {
  inset: 0;
  position: absolute;
  z-index: 99;
}

.proj-card-title {
  font-size: 1.5rem;
  left: 2rem;
  text-wrap: nowrap;
  top: 0.5rem;
}
.proj-card-desc {
  line-height: 1.3;
}

@media screen and (width < 1700px) {
  .picture-frames-wrapper {
    left: 17rem;
    bottom: 10rem;
  }
  .info-wrapper {
    top: 11rem;
  }

  .card-wrapper {
    bottom: 8rem;
  }
  .cards-inner-wrapper {
    mask-image: linear-gradient(to right, black 30%, transparent 80%);
  }
  .scroll-controls {
    bottom: 3.5rem;
    font-size: 2.25rem;
  }
}

@media screen and (width < 1400px) {
  .picture-frames-wrapper {
    left: 5rem;
  }
}

@media screen and (width < 1150px) {
  .picture-frames-wrapper {
    left: 3rem;
    bottom: 7.5rem;
  }
  .picture-frames-wrapper > * {
    width: 7rem;
  }
  .card-wrapper {
    bottom: 4rem;
  }

  .info-wrapper {
    top: 10rem;
  }
  .scroll-controls {
    bottom: 0rem;
    font-size: 2rem;
  }
}
@media screen and (width < 1000px) {
  .picture-frames-wrapper {
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
  }
  .info-wrapper {
    text-wrap: wrap;
    line-height: 1.1;
    /* outline: 2px solid lime; */
    width: 90vw;
    top: 13rem;
  }
}
@media screen and (width < 750px) {
  .cards-inner-wrapper {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 1.25rem,
      black 250px,
      transparent 95%
    );
  }
  .card-wrapper {
    bottom: 3rem;
  }
  .scroll-controls {
    bottom: 0rem;
    font-size: 1.5rem;
  }
  .desc {
    line-height: 1.3;
  }
}
