main {
  align-items: center;
  display: flex;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 1rem;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 5rem;
  width: 50vw;
}
.bio-image-wrapper {
  width: 20vw;
}
.bio-text {
  display: grid;
  gap: 0.75rem;
}
.bio-text p {
  filter: brightness(0.85);
  font-variation-settings: SHDW 0, BEVL 0;
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 47ch;
}
@media screen and (width > 2200px) {
  main {
    padding-inline: 10rem;
  }
  .bio-text p {
    max-width: 60ch;
  }
}
@media screen and (width < 1700px) {
  main {
    gap: 2rem;
    justify-content: center;
    width: 60vw;
  }
  .bio-text {
    gap: 0.5rem;
  }
  .bio-text p {
    max-width: 50ch;
  }
  .bio-image-wrapper {
    width: 15vw;
  }
}
@media screen and (width < 1200px) {
  main {
    margin-top: 0;
    padding-inline: 4rem;
    width: 100%;
  }
  .bio-image-wrapper {
    left: 5%;
    position: absolute;
    top: 35%;
  }
  .bio-text p {
    line-height: 1.3;
  }
  .bio-text {
    gap: 0.25rem;
  }
}
@media screen and (width < 1000px) {
  main {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .bio-image-wrapper {
    left: 0;
    position: relative;
    top: 3.5rem;
    width: 50vw;
  }
  .bio-image-wrapper img {
    width: 100%;
  }
  .bio-image-wrapper::after {
    content: "";
    inset: 0;
    position: absolute;
  }
  .bio-text p {
    text-align: center;
  }

  /* background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8) 40%,
      rgba(0, 0, 0, 0.5) 50%,
      transparent 100%
    ); */

  .bio-image-wrapper {
    mask-image: linear-gradient(black 60%, transparent 60%);
  }
  .bio-text {
    margin-top: -160px;
  }
}
@media screen and (width < 650px) {
  main {
    padding-inline: 1rem;
  }
  .bio-image-wrapper {
    top: 2rem;
    width: 80vw;
  }
}
