@use "../abstracts/mixins" as *;
@use "../abstracts/media_queries" as *;

body {
  background-image: url("../../assets/bgs/numsBackgroundImage.png");
  background-size: cover;
}

.heading-wrapper {
  @include heading-wrapper();
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  left: 4%;
  top: 7%;
  transition: font-variation-settings 0.5s ease;
  z-index: 99;

  .heading-word {
    display: flex;
    letter-spacing: 12px;
    line-height: 1.3;

    > * {
      rotate: 15deg;

      @include media-lt-1000 {
        rotate: 0deg;
      }
    }

    @include media-lt-1000 {
      display: flex;
      letter-spacing: 2px;
      line-height: 1.1;

      &:first-child {
        transform: translateX(0.85rem);
      }
    }
  }

  @include media-gt-eq-1200 {
    &:hover,
    &:focus-visible {
      font-variation-settings: "SHDW" 15, "BVEL" 50;
      transform: translate(1px, 1px);
    }

    &:hover .heading-word:first-child > *:nth-child(even) {
      rotate: 20deg;
    }

    &:hover .heading-word:last-child > *:nth-child(odd) {
      rotate: 10deg;
    }
  }

  @include media-lt-1000 {
    left: 50%;
    rotate: 0deg;
    top: 1rem;
    transform: translateX(-50%);
  }
}

.page-title-wrapper {
  font-size: 3.5vw;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  pointer-events: none;
  position: absolute;
  right: 4%;
  rotate: 15deg;
  top: 7%;
  overflow: hidden;

  .page-title-word {
    display: flex;
    letter-spacing: 12px;
    line-height: 1.3;

    &:nth-of-type(2) {
      margin-left: 2rem;
    }
  }

  .page-title {
    display: flex;
    letter-spacing: 12px;
  }

  .page-title > *,
  .page-title-word > * {
    rotate: -15deg;
  }

  .graphic-des-page-title {
    display: block;
    margin-top: 1rem;
    rotate: 15deg;
  }

  @include media-lt-1000 {
    display: none;
  }
}

.pages-flame-wrapper {
  bottom: 5rem;
  display: flex;
  justify-content: space-between;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 97dvw;
}
.fl4-w-2 {
  bottom: 6.5rem;
  filter: blur(2px);
  z-index: -1;

  > * {
    margin-inline: 6rem;
    scale: 0.5;
  }
}

.lt-fl4-wr,
.rt-fl4-wr {
  filter: hue-rotate(290deg);
  opacity: 0;
  overflow: hidden;
  width: 250px;
}

.front-fade-in {
  animation: front-fade-in 10s ease forwards;
}

@keyframes front-fade-in {
  to {
    opacity: 0.6;
  }
}

.rear-fade-in {
  animation: rear-fade-in 10s ease forwards;
}

@keyframes rear-fade-in {
  to {
    opacity: 0.6;
  }
}

.flame4 {
  display: flex;
}

.flame-4-spark {
  animation: flame4-run var(--fl4-anim-timing) steps(52) infinite;
}

@keyframes flame4-run {
  to {
    transform: translateX(-13000px);
  }
}
