@use "../abstracts/media_queries" as *;

main {
  align-items: center;
  display: flex;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 2rem;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 5rem;
  width: 50vw;

  @include media-lt-1000 {
    flex-direction: column;
    margin-bottom: 2rem;
    width: 90vw;
  }
}

.bio-image-wrapper {
  min-width: 18vw;

  .bio-img-1 {
    @include media-lt-1000 {
      display: none;
    }
  }

  .bio-img-2 {
    display: none;

    @include media-lt-1000 {
      display: block;
    }
  }

  @include media-lt-1000 {
    margin-top: 1rem;
  }
}

.bio-text {
  display: grid;
  gap: 0.5rem;

  p {
    filter: brightness(0.85);
    font-variation-settings: SHDW 0, BEVL 0;
    letter-spacing: 1px;
    line-height: 1.5;
    max-width: 60ch;
    min-width: 47ch;

    @include media-lt-1200 {
      line-height: 1.3;
    }
    @include media-lt-1000 {
      min-width: 100%;
      text-align: center;
    }
  }
}
