@use "../abstracts/media_queries" as *;

main {
  align-items: center;
  display: flex;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 2rem;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 5rem;
  width: 50vw;
}

.bio-image-wrapper {
  min-width: 18vw;
}

.bio-text {
  display: grid;
  gap: 0.5rem;

  p {
    filter: brightness(0.85);
    font-variation-settings: SHDW 0, BEVL 0;
    letter-spacing: 1px;
    line-height: 1.5;
    min-width: 47ch;
    max-width: 60ch;

    @include media-lt-1200 {
      line-height: 1.3;
    }
  }
}

@media screen and (width < 1000px) {
  main {
    flex-direction: column;
    margin-bottom: 2rem;
    padding-top: 5rem;
  }
  .bio-image-wrapper {
    left: 0;
    position: relative;
    top: 4rem;
    width: 50vw;
  }
  .bio-image-wrapper img {
    width: 100%;
  }
  .bio-image-wrapper::after {
    content: "";
    inset: 0;
    position: absolute;
  }
  .bio-text p {
    text-align: center;
  }
  .bio-image-wrapper {
    mask-image: linear-gradient(black 60%, transparent 60%);
  }
  .bio-text {
    margin-top: -160px;
  }
}

@media screen and (width < 650px) {
  main {
    padding-inline: 1rem;
  }
  .bio-image-wrapper {
    top: 2rem;
    width: 80vw;
  }
  .bio-text {
    margin-top: -45vw;
  }
}
