@use "../abstracts/mixins" as *;
@use "../abstracts/media_queries" as *;

.home-bg {
  display: block;
  max-height: 100vh;
  object-fit: cover;
  width: 100%;

  @include media-lt-1000 {
    display: none;
  }
}
.home-heading-wrapper {
  @include heading-wrapper();
  font-size: clamp(2rem, 5vw, 6rem);
  left: 7%;
  pointer-events: none;
  top: 8%;

  .heading-word {
    @include heading-word(20px, 1.3);

    &:first-child {
      @include media-lt-1000 {
        transform: translateX(1.5rem);
      }
      @include media-lt-650 {
        transform: translateX(1rem);
      }
    }
    @include media-lt-650 {
      letter-spacing: 10px;
    }
  }
  @include media-lt-1000 {
    left: 50%;
    rotate: 0deg;
    top: 2rem;
    transform: translateX(-50%);

    .heading-word > * {
      rotate: 0deg;
    }
  }
}

nav {
  left: 18%;
  opacity: 1;
  padding-inline: 2rem;
  position: absolute;
  top: 50%;

  li {
    cursor: pointer;
    display: list-item;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-variation-settings: "SHDW" 75, "BVEL" 75;
    letter-spacing: 5px;
    line-height: 1;
    list-style-type: none;
    margin-bottom: 1em;
    text-align: center;

    @include nav-item-hov();
  }

  @include media-lt-1200 {
    top: 40%;
  }

  @include media-lt-1000 {
    left: 50%;
    transform: translateX(-50%);
  }
}
