@use '../abstracts/media_queries' as *;
@use '../abstracts/variables' as *;

.card-wrapper {
  --gap-spacer: 1rem;
  left: 50vw;
  position: absolute;
  top: 50vh;
  transform: translateX(calc(-125px + (var(--gap-spacer) * -1)));
  width: calc(50vw + (125px + var(--gap-spacer)));

  &::before {
    border-radius: $b-rad;
    content: '';
    height: 187px;
    left: 1rem;
    outline: 3px solid $clr-accent;
    outline-offset: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: 1rem;
    width: 250px;
    z-index: 99;
  }

  .info-wrapper {
    bottom: calc(80%);
    // bottom: calc(100% + 1.5rem);
    min-height: 190px;
    position: absolute;
    right: 0%;
    text-align: center;
    width: 100vw;

    .desc-title {
      font-size: clamp(1.25rem, 2vw, 2.5rem);
      font-variation-settings: 'SHDW' 80, 'BVEL' 70;
      letter-spacing: 5px;
      line-height: 1.1;
      margin-bottom: 1.25rem;
    }

    details {
      position: relative;

      summary {
        cursor: pointer;
        list-style-type: none;
      }
    }

    .desc {
      font-size: clamp(1rem, 1.25vw, 1.5rem);
      font-variation-settings: 'SHDW' 100, 'BVEL' 15;
      letter-spacing: 2px;
      line-height: 1.4;
      position: absolute;
    }

    @include media-lt-1700 {
      bottom: 95%;
    }

    @include media-lt-1200 {
      bottom: 85%;
    }

    @include media-lt-650 {
      bottom: 95%;
    }
  }

  .desc-open {
    bottom: calc(125%);
  }

  .picture-frames-wrapper {
    display: flex;
    gap: 1rem;
    position: absolute;
    right: calc(100% + 1rem);
    top: 50%;
    transform: translateY(-50%);

    > * {
      width: 10rem;

      @include media-lt-650 {
        width: 7rem;
      }
    }

    @include media-lt-1000 {
      flex-direction: column;
    }

    @include media-lt-650 {
      flex-direction: row;
      justify-content: space-around;
      right: 0;
      top: -130%;
      width: 100vw;
    }
  }

  .cards-inner-wrapper {
    display: flex;
    gap: var(--gap-spacer);
    margin-left: 0.5rem;
    overflow-x: hidden;
    padding-block: 1rem;
    padding-left: var(--gap-spacer);
    padding-right: auto;
    scroll-behavior: smooth;
    scroll-padding: 0.5rem;
    scroll-snap-type: x mandatory;
    mask-image: linear-gradient(
      to right,
      transparent,
      black 1%,
      black 30%,
      transparent 90%
    );

    @include media-lt-1700 {
      mask-image: linear-gradient(to right, black 30%, transparent 80%);
    }

    @include media-lt-650 {
      mask-image: unset;
    }
  }

  @include media-lt-1700 {
    bottom: 8rem;
  }

  @include media-lt-650 {
    scale: 0.85;
    transform: translateX(calc((-125px + (var(--gap-spacer) * -1)) * 1.15));
  }
}

.scroll-controls {
  display: flex;
  font-size: 2.5rem;
  gap: 2.5rem;
  left: 50px;
  position: absolute;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    letter-spacing: 10px;

    &:first-child {
      transform: translateX(10px);
    }
  }

  @include media-lt-1700 {
    font-size: 2.25rem;
  }
}
