@use "../abstracts/media_queries" as *;

.resume-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 1rem;
  inset: 0;
  justify-content: center;
  margin: auto;
  max-height: 50vh;
  position: absolute;
  width: 47rem;

  img {
    width: 23rem;

    @include media-lt-1700 {
      width: 18rem;
    }
  }

  .resume-caption {
    text-align: center;
    text-wrap: nowrap;
    width: 100vw;
  }

  .cap-top {
    display: none;
  }

  @include media-lt-1000 {
    margin: 7rem auto 0;
    width: 50vw;

    .cap-top {
      display: block;
    }

    .cap-bot {
      display: none;
    }
  }
}

.icons-wrapper {
  bottom: 5rem;
  column-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  left: 50%;
  place-items: center;
  position: absolute;
  row-gap: 1rem;
  transform: translateX(-50%);

  img {
    max-width: 30px;

    @include media-lt-1000 {
      &:nth-child(even) {
        align-self: self-start;
        transform: translateY(-30px);
      }

      &:nth-child(odd) {
        align-self: self-end;
      }
    }

    @include media-lt-650 {
      &:nth-child(even) {
        transform: translateY(-30px);
      }
    }
  }

  @include media-lt-1700 {
    bottom: 3rem;
  }

  @include media-lt-1000 {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-inline: 2rem;
    top: 25%;
    width: 100%;
    z-index: -1;
  }
}
