*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "RocherColorGX";
  line-gap-override: 85%;
  src: url("../../assets/font/RocherColorGX-purple3.woff2") format("woff2-variations");
}
body {
  color: rgb(221, 76, 225);
  font-weight: bold;
  font-family: "RocherColorGX", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.inactive-control {
  filter: saturate(0.5) brightness(0.5);
  pointer-events: none;
}

.card-snap {
  scroll-snap-align: start;
}

body {
  background-image: url("../../assets/bgs/numsBackgroundImage.png");
  background-size: cover;
}

.heading-wrapper {
  display: grid;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  position: absolute;
  rotate: -15deg;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  left: 4%;
  top: 7%;
  transition: font-variation-settings 0.5s ease;
  z-index: 99;
}
.heading-wrapper .heading-word {
  display: flex;
  letter-spacing: 12px;
  line-height: 1.3;
}
.heading-wrapper .heading-word > * {
  rotate: 15deg;
}
@media (width < 1000px) {
  .heading-wrapper .heading-word > * {
    rotate: 0deg;
  }
}
@media (width < 1000px) {
  .heading-wrapper .heading-word {
    display: flex;
    letter-spacing: 2px;
    line-height: 1.1;
  }
  .heading-wrapper .heading-word:first-child {
    transform: translateX(0.85rem);
  }
}
@media (width >= 1200px) {
  .heading-wrapper:hover, .heading-wrapper:focus-visible {
    font-variation-settings: "SHDW" 15, "BVEL" 50;
    transform: translate(1px, 1px);
  }
  .heading-wrapper:hover .heading-word:first-child > *:nth-child(even) {
    rotate: 20deg;
  }
  .heading-wrapper:hover .heading-word:last-child > *:nth-child(odd) {
    rotate: 10deg;
  }
}
@media (width < 1000px) {
  .heading-wrapper {
    left: 50%;
    rotate: 0deg;
    top: 1rem;
    transform: translateX(-50%);
  }
}

.page-title-wrapper {
  font-size: 3.5vw;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 4%;
  rotate: 15deg;
  top: 7%;
}
.page-title-wrapper .page-title-word {
  display: flex;
  letter-spacing: 12px;
  line-height: 1.3;
}
.page-title-wrapper .page-title-word > * {
  rotate: 15deg;
}
.page-title-wrapper .page-title-word:nth-of-type(2) {
  margin-left: 2rem;
}
.page-title-wrapper .page-title {
  display: flex;
  letter-spacing: 12px;
  line-height: initial;
}
.page-title-wrapper .page-title > * {
  rotate: 15deg;
}
.page-title-wrapper .page-title > *,
.page-title-wrapper .page-title-word > * {
  rotate: -15deg;
}
.page-title-wrapper .graphic-des-page-title {
  display: block;
  margin-top: 1rem;
  rotate: 15deg;
}
@media (width < 1000px) {
  .page-title-wrapper {
    display: none;
  }
}

.pages-flame-wrapper {
  bottom: 5rem;
  display: flex;
  justify-content: space-between;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 97dvw;
}

.fl4-w-2 {
  bottom: 6.5rem;
  filter: blur(2px);
  z-index: -1;
}
.fl4-w-2 > * {
  margin-inline: 6rem;
  scale: 0.5;
}

.lt-fl4-wr,
.rt-fl4-wr {
  filter: hue-rotate(290deg);
  opacity: 0;
  overflow: hidden;
  width: 250px;
}

.front-fade-in {
  animation: front-fade-in 10s ease forwards;
}

@keyframes front-fade-in {
  to {
    opacity: 0.6;
  }
}
.rear-fade-in {
  animation: rear-fade-in 10s ease forwards;
}

@keyframes rear-fade-in {
  to {
    opacity: 0.6;
  }
}
.flame4 {
  display: flex;
}

.flame-4-spark {
  animation: flame4-run var(--fl4-anim-timing) steps(52) infinite;
}

@keyframes flame4-run {
  to {
    transform: translateX(-13000px);
  }
}
.card {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 187px;
  min-width: 250px;
  position: relative;
  text-align: center;
}
.card:not(.card-spacer) {
  background: rgba(124, 20, 153, 0.4);
}
.card .proj-card-img-wrapper img {
  border-radius: 15px 15px 0 0;
}
.card .card-icons-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  padding-bottom: 0.5rem;
}
.card .link {
  inset: 0;
  position: absolute;
  z-index: 99;
}

main {
  align-items: center;
  display: flex;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 2rem;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 5rem;
  width: 50vw;
}
@media (width < 1000px) {
  main {
    flex-direction: column;
    margin-bottom: 2rem;
    width: 90vw;
  }
}

.bio-image-wrapper {
  min-width: 18vw;
}
@media (width < 1000px) {
  .bio-image-wrapper .bio-img-1 {
    display: none;
  }
}
.bio-image-wrapper .bio-img-2 {
  display: none;
}
@media (width < 1000px) {
  .bio-image-wrapper .bio-img-2 {
    display: block;
  }
}
@media (width < 1000px) {
  .bio-image-wrapper {
    margin-top: 1rem;
  }
}

.bio-text {
  display: grid;
  gap: 0.5rem;
}
.bio-text p {
  filter: brightness(0.85);
  font-variation-settings: SHDW 0, BEVL 0;
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 60ch;
  min-width: 47ch;
}
@media (width < 1200px) {
  .bio-text p {
    line-height: 1.3;
  }
}
@media (width < 1000px) {
  .bio-text p {
    min-width: 100%;
    text-align: center;
  }
}

.merry-go-round-wrapper {
  --spin-anim-tim: 120s;
  height: 100vh;
  position: relative;
  scale: 0.75;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper {
  animation: spin-it var(--spin-anim-tim) linear infinite;
  height: 250px;
  left: calc(50% - 150px);
  position: absolute;
  top: 50%;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  width: 300px;
}
@keyframes spin-it {
  from {
    transform: perspective(1000px) rotateX(5deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(5deg) rotateY(-360deg);
  }
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .gd-portrait-wrapper {
  animation: spin-to-stay var(--spin-anim-tim) linear infinite;
}
@keyframes spin-to-stay {
  from {
    transform: rotateY(0deg) translateY(-50px);
  }
  to {
    transform: rotateY(360deg) translateY(-50px);
  }
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item {
  inset: 0;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(calc((var(--position) - 1) * 360 / var(--quantity) * 1deg)) translatez(550px);
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item > * {
  position: absolute;
  z-index: -5;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item p {
  bottom: 0px;
  font-size: 0.8rem;
  font-variation-settings: "SHDW" 0, "BVEL" 50;
  letter-spacing: 2px;
  line-height: 1.3;
  padding: 0.5rem;
  width: 100%;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item p::before {
  background: rgba(50, 50, 50, 0.8);
  border-radius: 15px;
  content: "";
  filter: blur(2px);
  inset: 0;
  position: absolute;
  z-index: -1;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item img {
  left: 0;
  width: 100%;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item img:last-child {
  filter: blur(2px) brightness(0.4);
  transform: translateZ(-1px);
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item:nth-of-type(5) img {
  left: 5%;
  width: 90%;
}
.merry-go-round-wrapper .merry-go-round-inner-wrapper .merry-go-round-item:nth-of-type(6) img {
  bottom: 60px;
  left: 10%;
  width: 70%;
}
@media (width >= 1200px) {
  .merry-go-round-wrapper .merry-go-round-inner-wrapper:hover, .merry-go-round-wrapper .merry-go-round-inner-wrapper:hover .gd-portrait-wrapper {
    animation-play-state: paused;
  }
}
@media (width < 1200px) {
  .merry-go-round-wrapper {
    scale: 0.5;
  }
}

footer {
  bottom: 1.5rem;
  font-variation-settings: "SHDW" 0, "BVEL" 100;
  left: 50%;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  transform: translatex(-50%);
  width: 80%;
}
@media (width < 1200px) {
  footer p {
    -webkit-user-select: none;
    -moz-user-select: none;
         user-select: none;
  }
}
@media (width < 650px) {
  footer {
    bottom: unset;
    line-height: 1.3;
    top: 7rem;
  }
}

.card-wrapper {
  --gap-spacer: 1rem;
  left: 50vw;
  position: absolute;
  top: 50vh;
  transform: translateX(calc(-125px + var(--gap-spacer) * -1));
  width: calc(50vw + 125px + var(--gap-spacer));
}
.card-wrapper::before {
  border-radius: 15px;
  content: "";
  height: 187px;
  left: 1rem;
  outline: 3px solid rgb(221, 76, 225);
  outline-offset: 0.5rem;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  width: 250px;
  z-index: 99;
}
.card-wrapper .info-wrapper {
  bottom: calc(100% + 1.5rem);
  min-height: 190px;
  position: absolute;
  right: 0%;
  text-align: center;
  width: 100vw;
}
.card-wrapper .info-wrapper .desc-title {
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  font-variation-settings: "SHDW" 80, "BVEL" 70;
  letter-spacing: 5px;
  line-height: 1.1;
  margin-bottom: 0.75rem;
}
.card-wrapper .info-wrapper .desc {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  font-variation-settings: "SHDW" 100, "BVEL" 15;
  letter-spacing: 2px;
  line-height: 1.4;
}
@media (width < 1700px) {
  .card-wrapper .info-wrapper {
    bottom: 95%;
  }
}
@media (width < 1200px) {
  .card-wrapper .info-wrapper {
    bottom: 85%;
  }
}
@media (width < 650px) {
  .card-wrapper .info-wrapper {
    bottom: 95%;
  }
}
.card-wrapper .picture-frames-wrapper {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}
.card-wrapper .picture-frames-wrapper > * {
  width: 10rem;
}
@media (width < 650px) {
  .card-wrapper .picture-frames-wrapper > * {
    width: 7rem;
  }
}
@media (width < 1000px) {
  .card-wrapper .picture-frames-wrapper {
    flex-direction: column;
  }
}
@media (width < 650px) {
  .card-wrapper .picture-frames-wrapper {
    flex-direction: row;
    justify-content: space-around;
    right: 0;
    top: -130%;
    width: 100vw;
  }
}
.card-wrapper .cards-inner-wrapper {
  display: flex;
  gap: var(--gap-spacer);
  margin-left: 0.5rem;
  overflow-x: hidden;
  padding-block: 1rem;
  padding-left: var(--gap-spacer);
  padding-right: auto;
  scroll-behavior: smooth;
  scroll-padding: 0.5rem;
  scroll-snap-type: x mandatory;
  -webkit-mask-image: linear-gradient(to right, transparent, black 1%, black 30%, transparent 90%);
          mask-image: linear-gradient(to right, transparent, black 1%, black 30%, transparent 90%);
}
.card-wrapper .cards-inner-wrapper .card {
  position: relative;
}
.card-wrapper .cards-inner-wrapper .card a::before {
  content: "";
  position: absolute;
  inset: 0;
}
@media (width < 1700px) {
  .card-wrapper .cards-inner-wrapper {
    -webkit-mask-image: linear-gradient(to right, black 30%, transparent 80%);
            mask-image: linear-gradient(to right, black 30%, transparent 80%);
  }
}
@media (width < 650px) {
  .card-wrapper .cards-inner-wrapper {
    -webkit-mask-image: unset;
            mask-image: unset;
  }
}
@media (width < 1700px) {
  .card-wrapper {
    bottom: 8rem;
  }
}
@media (width < 650px) {
  .card-wrapper {
    scale: 0.85;
    transform: translateX(calc((-125px + var(--gap-spacer) * -1) * 1.15));
  }
}

.scroll-controls {
  display: flex;
  font-size: 2.5rem;
  gap: 2.5rem;
  left: 50px;
  position: absolute;
}
.scroll-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: 10px;
}
.scroll-controls button:first-child {
  transform: translateX(10px);
}
@media (width < 1700px) {
  .scroll-controls {
    font-size: 2.25rem;
  }
}

.resume-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 1rem;
  inset: 0;
  justify-content: center;
  margin: auto;
  max-height: 50vh;
  position: absolute;
  width: 47rem;
}
.resume-img-wrapper img {
  width: 23rem;
}
@media (width < 1700px) {
  .resume-img-wrapper img {
    width: 18rem;
  }
}
.resume-img-wrapper .resume-caption {
  text-align: center;
  text-wrap: nowrap;
  width: 100vw;
}
.resume-img-wrapper .cap-top {
  display: none;
}
@media (width < 1000px) {
  .resume-img-wrapper {
    margin: 5rem auto 0;
    width: 50vw;
  }
  .resume-img-wrapper .cap-top {
    display: block;
  }
  .resume-img-wrapper .cap-bot {
    display: none;
  }
}

.icons-wrapper {
  bottom: 5rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  left: 50%;
  place-items: center;
  position: absolute;
  row-gap: 1rem;
  transform: translateX(-50%);
}
.icons-wrapper img {
  max-width: 30px;
}
@media (width < 1000px) {
  .icons-wrapper img:nth-child(even) {
    align-self: self-start;
    transform: translateY(-30px);
  }
  .icons-wrapper img:nth-child(odd) {
    align-self: self-end;
  }
}
@media (width < 650px) {
  .icons-wrapper img:nth-child(even) {
    transform: translateY(-30px);
  }
}
@media (width < 1700px) {
  .icons-wrapper {
    bottom: 3rem;
  }
}
@media (width < 1000px) {
  .icons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-inline: 2rem;
    top: 25%;
    width: 100%;
    z-index: -1;
  }
}

.home-bg {
  display: block;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media (width < 1000px) {
  .home-bg {
    display: none;
  }
}

.home-heading-wrapper {
  display: grid;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  position: absolute;
  rotate: -15deg;
  font-size: clamp(2rem, 5vw, 6rem);
  left: 7%;
  pointer-events: none;
  top: 8%;
}
.home-heading-wrapper .heading-word {
  display: flex;
  letter-spacing: 20px;
  line-height: 1.3;
}
.home-heading-wrapper .heading-word > * {
  rotate: 15deg;
}
@media (width < 1000px) {
  .home-heading-wrapper .heading-word:first-child {
    transform: translateX(1.5rem);
  }
}
@media (width < 650px) {
  .home-heading-wrapper .heading-word:first-child {
    transform: translateX(1rem);
  }
}
@media (width < 650px) {
  .home-heading-wrapper .heading-word {
    letter-spacing: 10px;
  }
}
@media (width < 1000px) {
  .home-heading-wrapper {
    left: 50%;
    rotate: 0deg;
    top: 2rem;
    transform: translateX(-50%);
  }
  .home-heading-wrapper .heading-word > * {
    rotate: 0deg;
  }
}

nav {
  left: 18%;
  opacity: 1;
  padding-inline: 2rem;
  position: absolute;
  top: 50%;
}
nav li {
  cursor: pointer;
  display: list-item;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-variation-settings: "SHDW" 75, "BVEL" 75;
  letter-spacing: 5px;
  line-height: 1;
  list-style-type: none;
  margin-bottom: 1em;
  text-align: center;
}
nav li:nth-of-type(1):hover, nav li:nth-of-type(1):focus-visible {
  filter: brightness(1.1) hue-rotate(45deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}
nav li:nth-of-type(2):hover, nav li:nth-of-type(2):focus-visible {
  filter: brightness(1.1) hue-rotate(180deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}
nav li:nth-of-type(3):hover, nav li:nth-of-type(3):focus-visible {
  filter: brightness(1.1) hue-rotate(300deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}
@media (width < 1200px) {
  nav {
    top: 40%;
  }
}
@media (width < 1000px) {
  nav {
    left: 50%;
    transform: translateX(-50%);
  }
}/*# sourceMappingURL=main.css.map */