*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-fallback: rgb(249, 157, 237);
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "RocherColorGX";
  line-gap-override: 85%;
  src: url("../../assets/font/RocherColorGX-purple3.woff2") format("woff2-variations");
}
body {
  color: var(--font-fallback);
  font-weight: bold;
  font-family: "RocherColorGX", system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.inactive-control {
  filter: saturate(0.5) brightness(0.5);
  pointer-events: none;
}

.card-snap {
  scroll-snap-align: start;
}

body {
  background-image: url("../../assets/bgs/numsBackgroundImage.png");
  background-size: cover;
}

.heading-wrapper {
  display: grid;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  position: absolute;
  rotate: -15deg;
  font-size: clamp(1.5rem, 3.5vw, 4rem);
  left: 4%;
  top: 7%;
  transition: font-variation-settings 0.5s ease;
  z-index: 99;
}
.heading-wrapper .heading-word {
  display: flex;
  letter-spacing: 12px;
  line-height: 1.3;
}
.heading-wrapper .heading-word > * {
  rotate: 15deg;
}

.page-title-wrapper {
  font-size: 3.5vw;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  pointer-events: none;
  position: absolute;
  right: 4%;
  rotate: 15deg;
  top: 7%;
}
.page-title-wrapper .page-title-word {
  display: flex;
  letter-spacing: 12px;
  line-height: 1.3;
}
.page-title-wrapper .page-title {
  display: flex;
  letter-spacing: 12px;
}
.page-title-wrapper .page-title > *,
.page-title-wrapper .page-title-word > * {
  rotate: -15deg;
}
.page-title-wrapper .graphic-des-page-title {
  display: block;
  margin-top: 1rem;
  rotate: 15deg;
}

.pages-flame-wrapper {
  bottom: 5rem;
  display: flex;
  justify-content: space-between;
  left: 50%;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  width: 97dvw;
}

.fl4-w-2 {
  bottom: 6.5rem;
  filter: blur(2px);
  z-index: -1;
}
.fl4-w-2 > * {
  margin-inline: 6rem;
  scale: 0.5;
}

.lt-fl4-wr,
.rt-fl4-wr {
  filter: hue-rotate(290deg);
  opacity: 0;
  overflow: hidden;
  width: 250px;
}

.front-fade-in {
  animation: front-fade-in 10s ease forwards;
}

@keyframes front-fade-in {
  to {
    opacity: 0.6;
  }
}
.rear-fade-in {
  animation: rear-fade-in 10s ease forwards;
}

@keyframes rear-fade-in {
  to {
    opacity: 0.6;
  }
}
.flame4 {
  display: flex;
}

.flame-4-spark {
  animation: flame4-run var(--fl4-anim-timing) steps(52) infinite;
}

@keyframes flame4-run {
  to {
    transform: translateX(-13000px);
  }
}
@media screen and (width >= 1200px) {
  .heading-wrapper:hover,
  .heading-wrapper:focus-visible {
    font-variation-settings: "SHDW" 15, "BVEL" 50;
    transform: translate(1px, 1px);
  }
  .heading-wrapper:hover .heading-word:first-child > *:nth-child(even) {
    rotate: 20deg;
  }
  .heading-wrapper:hover .heading-word:last-child > *:nth-child(odd) {
    rotate: 10deg;
  }
}
@media screen and (width < 1000px) {
  .heading-wrapper {
    left: 50%;
    rotate: 0deg;
    top: 1rem;
    transform: translateX(-50%);
  }
  .heading-wrapper .heading-word {
    display: flex;
    letter-spacing: 2px;
    line-height: 1.1;
  }
  .heading-wrapper .heading-word > * {
    rotate: 0deg;
  }
  .heading-wrapper .heading-word:first-child {
    transform: translateX(2vw);
  }
  .page-title-wrapper {
    display: none;
  }
}
@media screen and (width < 650px) {
  .page-title-wrapper {
    right: 1.5rem;
  }
}
.card {
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 187px;
  min-width: 250px;
  position: relative;
  text-align: center;
}
.card:not(.card-spacer) {
  background: rgba(124, 20, 153, 0.4);
}
.card .proj-card-img-wrapper img {
  border-radius: 15px 15px 0 0;
}
.card .card-icons-wrapper {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: auto;
  padding-bottom: 0.5rem;
}
.card .link {
  inset: 0;
  position: absolute;
  z-index: 99;
}

main {
  align-items: center;
  display: flex;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 1rem;
  justify-content: center;
  margin-inline: auto;
  min-height: 100vh;
  padding-top: 5rem;
  width: 50vw;
}

.bio-image-wrapper {
  width: 20vw;
}

.bio-text {
  display: grid;
  gap: 0.75rem;
}
.bio-text p {
  filter: brightness(0.85);
  font-variation-settings: SHDW 0, BEVL 0;
  letter-spacing: 1px;
  line-height: 1.5;
  max-width: 47ch;
}

@media screen and (width > 2200px) {
  main {
    padding-inline: 10rem;
  }
  .bio-text p {
    max-width: 60ch;
  }
}
@media screen and (width < 1700px) {
  main {
    gap: 2rem;
  }
  .bio-text {
    gap: 0.5rem;
  }
  .bio-text p {
    max-width: 50ch;
  }
  .bio-image-wrapper {
    width: 15vw;
  }
}
@media screen and (width < 1200px) {
  main {
    margin-top: 0;
    padding-inline: 4rem;
    width: 100%;
  }
  .bio-image-wrapper {
    left: 5%;
    position: absolute;
    top: 35%;
  }
  .bio-text p {
    line-height: 1.3;
  }
}
@media screen and (width < 1000px) {
  main {
    flex-direction: column;
    margin-bottom: 2rem;
    padding-top: 5rem;
  }
  .bio-image-wrapper {
    left: 0;
    position: relative;
    top: 4rem;
    width: 50vw;
  }
  .bio-image-wrapper img {
    width: 100%;
  }
  .bio-image-wrapper::after {
    content: "";
    inset: 0;
    position: absolute;
  }
  .bio-text p {
    text-align: center;
  }
  .bio-image-wrapper {
    -webkit-mask-image: linear-gradient(black 60%, transparent 60%);
            mask-image: linear-gradient(black 60%, transparent 60%);
  }
  .bio-text {
    margin-top: -160px;
  }
}
@media screen and (width < 650px) {
  main {
    padding-inline: 1rem;
  }
  .bio-image-wrapper {
    top: 2rem;
    width: 80vw;
  }
  .bio-text {
    margin-top: -45vw;
  }
}
.info-wrapper {
  left: 50%;
  position: absolute;
  text-align: center;
  text-wrap: nowrap;
  top: 13rem;
  transform: translateX(-50%);
}
.info-wrapper .desc-title {
  font-size: clamp(1.25rem, 2vw, 2.5em);
  font-variation-settings: "SHDW" 80, "BVEL" 70;
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
}
.info-wrapper .desc {
  font-size: clamp(1rem, 1.25vw, 1.5em);
  font-variation-settings: "SHDW" 100, "BVEL" 15;
  letter-spacing: 2px;
  line-height: 1.4;
  top: 8.5em;
}

.picture-frames-wrapper {
  bottom: 17rem;
  display: flex;
  gap: 1rem;
  left: 27rem;
  position: absolute;
}
.picture-frames-wrapper > * {
  width: 10rem;
}

.card-wrapper {
  --gap-spacer: 1rem;
  bottom: 15rem;
  left: 50vw;
  position: absolute;
  transform: translateX(calc(-125px + var(--gap-spacer) * -1));
  width: calc(50vw + 125px + var(--gap-spacer));
}
.card-wrapper::before {
  border-radius: 15px;
  content: "";
  height: 187px;
  left: 1rem;
  outline: 3px solid rgb(221, 76, 225);
  outline-offset: 0.5rem;
  pointer-events: none;
  position: absolute;
  top: 1rem;
  width: 250px;
  z-index: 99;
}
.card-wrapper .cards-inner-wrapper {
  display: flex;
  gap: var(--gap-spacer);
  -webkit-mask-image: linear-gradient(to right, transparent, black 1%, black 30%, transparent 90%);
          mask-image: linear-gradient(to right, transparent, black 1%, black 30%, transparent 90%);
  overflow-x: hidden;
  padding-block: 1rem;
  padding-left: var(--gap-spacer);
  padding-right: auto;
  scroll-behavior: smooth;
  scroll-padding: 0.5rem;
  scroll-snap-type: x mandatory;
  margin-left: 0.5rem;
}

.scroll-controls {
  bottom: 9rem;
  display: flex;
  font-size: 2.5rem;
  gap: 2.5rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.scroll-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: 10px;
}
.scroll-controls button:first-child {
  transform: translateX(10px);
}

.resume-img-wrapper {
  display: flex;
  flex-wrap: wrap;
  font-variation-settings: "SHDW" 0, "BVEL" 0;
  gap: 1rem;
  inset: 0;
  justify-content: center;
  margin: auto;
  max-height: 50vh;
  position: absolute;
  width: 47rem;
}
.resume-img-wrapper img {
  width: 23rem;
}
@media screen and (width < 1700px) {
  .resume-img-wrapper img {
    width: 18rem;
  }
}
.resume-img-wrapper .resume-caption {
  text-align: center;
  text-wrap: nowrap;
  width: 100%;
  transform: translateY(-1rem);
}
@media screen and (width < 1000px) {
  .resume-img-wrapper {
    margin: 7rem auto 0;
    width: 50vw;
  }
}

.icons-wrapper {
  bottom: 5rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  left: 50%;
  place-items: center;
  position: absolute;
  row-gap: 1rem;
  transform: translateX(-50%);
}
.icons-wrapper img {
  max-width: 30px;
}
@media screen and (width < 1700px) {
  .icons-wrapper {
    bottom: 3rem;
  }
}
@media screen and (width < 1000px) {
  .icons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding-inline: 2rem;
    top: 25%;
    width: 100%;
    z-index: -1;
  }
}

@media screen and (width < 1000px) {
  .icons-wrapper img:nth-child(even) {
    align-self: self-start;
    transform: translateY(-30px);
  }
  .icons-wrapper img:nth-child(odd) {
    align-self: self-end;
  }
}
@media screen and (width < 650px) {
  .icons-wrapper img {
    max-width: 20px;
  }
  .icons-wrapper img:nth-child(even) {
    transform: translateY(-20px);
  }
}
.home-bg {
  width: 100%;
  max-height: 100vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (width < 1000px) {
  .home-bg {
    display: none;
  }
}

.home-heading-wrapper {
  display: grid;
  font-variation-settings: "SHDW" 35, "BVEL" 85;
  position: absolute;
  rotate: -15deg;
  font-size: clamp(1.25rem, 5vw, 4rem);
  left: 7%;
  pointer-events: none;
  top: 8%;
}
.home-heading-wrapper .heading-word {
  display: flex;
  letter-spacing: 20px;
  line-height: 1.3;
}
.home-heading-wrapper .heading-word > * {
  rotate: 15deg;
}
@media screen and (width < 1000px) {
  .home-heading-wrapper {
    left: 50%;
    transform: translateX(-50%);
    rotate: 0deg;
  }
  .home-heading-wrapper .heading-word > * {
    rotate: 0deg;
  }
}

nav {
  bottom: 10%;
  left: 17%;
  opacity: 1;
  padding-inline: 2rem;
  position: absolute;
}
nav li {
  cursor: pointer;
  display: list-item;
  font-size: 2vw;
  font-variation-settings: "SHDW" 75, "BVEL" 75;
  letter-spacing: 5px;
  line-height: 1;
  list-style-type: none;
  margin-bottom: 1em;
  text-align: center;
}
nav li:nth-of-type(1):hover, nav li:nth-of-type(1):focus-visible {
  filter: brightness(1.1) hue-rotate(45deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}
nav li:nth-of-type(2):hover, nav li:nth-of-type(2):focus-visible {
  filter: brightness(1.1) hue-rotate(180deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}
nav li:nth-of-type(3):hover, nav li:nth-of-type(3):focus-visible {
  filter: brightness(1.1) hue-rotate(300deg);
  font-variation-settings: "SHDW" 50, "BVEL" 60;
}

@media screen and (width > 2200px) {
  body {
    background-position: 0 -225px;
  }
  li {
    margin-bottom: 1.5rem;
  }
}
@media screen and (width < 1000px) {
  nav {
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
  }
  nav li {
    font-size: 8vw;
  }
  .heading-wrapper {
    top: 3rem;
  }
  .heading-word {
    display: flex;
    letter-spacing: 2px;
    line-height: 1.3;
  }
  .heading-word:first-child {
    transform: translateX(1rem);
  }
  .heading-word > * {
    rotate: 0deg;
  }
}
@media screen and (width < 650px) {
  .heading-wrapper {
    top: 2rem;
  }
}/*# sourceMappingURL=main.css.map */